
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    background-image: url("beranda2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  nav {
    background-color: #d1f0b1;
    display: flex;
    justify-content: center;
    padding : 8px 0;
}
  
  header {
    background-color: #aaca85;
    color: white;
    padding: 15px 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #d1f0b1;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #2F4F4F;
    font-weight: bold;
    padding: 5px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
  }
  
  h2 {
    text-align: center;
    color:white;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #2F4F4F;
    padding : 10px 20px;
    font-size: 28px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  
  section > div {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #d1f0b1;
    border-radius: 10px;
    width: 50%;
    min-width: 250px;
    text-align: left;
  }
  
div {
  background-position: center;
}
  
  section > div h3 {
    margin-top: 0;
    color: #2F4F4F;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
  }
  